table,
th,
tr,
td {
    border: 2px solid black;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;

}

.container {
    text-align: center;

}

#tBody {
    border: 2px solid black;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
}

body {
    background-color: #DBF9FC;
}

h1 {
    text-align: center;
}

#images {
    text-align: center;
}
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
